header{
    color: var(--clr-text-white);
    display: flex;
    align-items: center;
}

header > h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
}

header > h2{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 30px;
    align-self: flex-end;
}
.box{
    align-self: flex-end;
}

.chiffres{
    font-size: 0.8rem;
    letter-spacing: 6px;
    font-weight: 500;
    margin-left: 5px;
}

.ruban-change-theme{
    width: 60px;
    height: 25px;
    background-color: var(--clr-t1-blue-toggle);
    border-radius: 25px;
    padding: 2.5px;
}

.petit-cercle{
    background-color: var(--clr-t1-orange-toggle);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}