header{
    display: flex;
    align-items: center;
}

.header-theme1{
    color: var(--clr-text-white);
}
.header-theme2{
    color: var(--clr-t2-text-gray);
}
.header-theme3{
    color: var(--clr-t3-text-yellow);
}

header > h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
}

header > h2{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 30px;
    align-self: flex-end;
}
.box{
    align-self: flex-end;
}

.chiffres{
    font-size: 0.8rem;
    letter-spacing: 6px;
    font-weight: 500;
    margin-left: 5px;
}

header .ruban-change-theme{
    width: 60px;
    height: 25px;
    border-radius: 25px;
    padding: 2.5px;
    cursor: pointer;
}

.header-theme1 .ruban-change-theme{
    background-color: var(--clr-t1-blue-toggle);
}
.header-theme2 .ruban-change-theme{
    background-color: var(--clr-t2-toggle);
}
.header-theme3 .ruban-change-theme{
    background-color: var(--clr-t3-toggle);
}

header .petit-cercle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.header-theme1 .petit-cercle{
    background-color: var(--clr-t1-orange-toggle);
    left: 0px;
}
.header-theme2 .petit-cercle{
    background-color: var(--clr-t2-key-orange);
    left: 16px;
}
.header-theme3 .petit-cercle{
    background-color: var(--clr-t3-key-cyan);
    left: 33px;
}
@media (prefers-color-scheme: dark) {
    /* dark mode styles here (the same as light XD) */
    .header-theme1{
        color: var(--clr-text-white);
    }
    .header-theme2{
        color: var(--clr-t2-text-gray);
    }
    .header-theme3{
        color: var(--clr-t3-text-yellow);
    }
    .header-theme1 .ruban-change-theme{
        background-color: var(--clr-t1-blue-toggle);
    }
    .header-theme2 .ruban-change-theme{
        background-color: var(--clr-t2-toggle);
    }
    .header-theme3 .ruban-change-theme{
        background-color: var(--clr-t3-toggle);
    }
    .header-theme1 .petit-cercle{
        background-color: var(--clr-t1-orange-toggle);
    }
    .header-theme2 .petit-cercle{
        background-color: var(--clr-t2-key-orange);
    }
    .header-theme3 .petit-cercle{
        background-color: var(--clr-t3-key-cyan);
    }
}